{{template "base" .}}

{{define "title"}}Log{{end}}


{{define "main"}}

<div class="row">
      <div class="row">
  <div class="col-sm-4">
    <form class="row g-3">
  <div class="col-auto">
<button class="btn mb-3" style="background-color: #9FE1EA">
  <a style="color: #442C2E"id="adifgen-button" href="/gen-adif">Generate ADIF</a></button>
  </div>

</form>
  </div>
  </div>
</div>
<hr>
<table class="table table-borderless table-sm">
  <thead>
    <tr>
      {{with .Top}}
      <th scope="col">{{.Id}}</th>
      <th scope="col">{{.Time}}</th>
    	<th scope="col">{{.Call}}</th>
      <th scope="col">{{.Band}}</th>
    	<th scope="col">{{.Mode}}</th>
    	<th scope="col">{{.Sent}}</th>
    	<th scope="col">{{.Rcvd}}</th>
    	<th scope="col">{{.Name}}</th>
    	<th scope="col">{{.Country}}</th>
      <th scope="col">{{.Comment}}</th>
      <th scope="col">{{.Lotwsent}}</th>
      <th scope="col">{{.Lotwrcvd}}</th>
    </tr>
    {{end}}
  </thead>
  <tbody>
    {{range .Table}}
    <tr>
      <td scope="col">{{.Id}}</td>
    	<td scope="col">{{.Time.Format "Jan 2 2006 15:04:05"}}</td>
    	<td scope="col">{{.Call}}</td>
      <td scope="col">{{.Band}}</td>
    	<td scope="col">{{.Mode}}</td>
    	<td scope="col">{{.Sent}}</td>
    	<td scope="col">{{.Rcvd}}</td>
    	<td scope="col">{{.Name}}</td>
    	<td scope="col">{{.Country}}</td>
      <td scope="col">{{.Comment}}</td>
      <td scope="col">{{.Lotwsent}}</td>
      <td scope="col">{{.Lotwrcvd}}</td>
    </tr>
      {{end}}
  </tbody>
</table>

{{end}}
