{{template "base" .}}

{{define "title"}}Analysis{{end}}

{{define "main"}}

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
<h3>Select from one of these options:</h3>

{{with .Stats}}
<ul>
  <li><a style="color: #442C2E" href="/qsolog">Contacts: {{.Contacts}}</a></li>
  <li><a style="color: #442C2E" href="/contacts-confirmed">Confrimed Contacts: {{.ConfirmedContacts}}</a></li>
  <li><a style="color: #442C2E" href="/repeat">Repeat Contacts: {{.RepeatContacts}}</a></li>
  <li><a style="color: #442C2E" href="/country">Country: {{.Country}}</a></li>
  <li><a style="color: #442C2E" href="/country-confirmed">Confirmed Country: {{.ConfirmedCountry}}</a></li>
  <li><a style="color: #442C2E" href="/state">State: {{.State}}</a></li>
  <li><a style="color: #442C2E" href="/state-confirmed">Confirmed State: {{.ConfirmedState}}</a></li>
  <li><a style="color: #442C2E" href="/county">County: {{.County}}</a></li>
  <li><a style="color: #442C2E" href="/county-confirmed">Confirmed County: {{.ConfirmedCounty}}</a></li>
  <li><a style="color: #442C2E" href="/cw-contacts">CW Contacts: {{.CWContacts}}</a></li>
  <li><a style="color: #442C2E" href="/cw-confirmed">CW Confirmed Contact: {{.ConfirmedCW}}</a></li>
  <li><a style="color: #442C2E" href="/cw-confirmed-state">CW Confirmed State: {{.ConfirmedCWState}}</a></li>
  <li><a style="color: #442C2E" href="/cw-confirmed-country">CW Confirmed Country: {{.ConfirmedCWCountry}}</a></li>
</ul>
{{end}}

</div>
</div>

{{end}}
