{{define "base"}}

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!--
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
-->

<title>{{template "title" .}} Ktutor</title>
</head>
<body>

<div class="row">
  	<div class="col-sm-1"></div>
    <div class="col-sm-4">
      <p class="font-weight-bold"><h3><a href="/home">AD2CC Station Master</a></h3></p>
      {{template "pagetitle" .}}
  
</div>
</div>
<hr>


<div class="row">
  <div class="col-sm-1"></div>
  
  <div class="col-sm-2">
  {{block "sidebar" .}}
  <h5><a href="/ktutor">Start Code</a></h5>
  <h5><a href="/stopcode">Stop Code</a></h5>
<h5><a href="/qsolog">Log</a></h5>
<h5><a href="/ant">Antenna</a></h5>
  {{end}}
  </div>
  
  <div class="col-sm-8">
    {{template "main" .}}
    
    
    </div>
    
    </div>
    <hr>
    <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
    {{template "footer" .}}
    </div>
    
    </div>

<br><br>
<!--
  <div id="ajaxrequest"></div>
</div>
-->


  
</body>
<script>
$(document).ready(function(){
$("#loaddata").click(function(){
$.ajax({url:"/start",success:function(ajaxresult){
$("#ajaxrequest").html(ajaxresult);
}});
});
});
</script>


</script>
</html>

{{end}}
