{{define "base"}}

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!--
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
-->
<style>
body {
  background-color: #FEDBD0;
}

p, h2, h3, h4, h5, th, td, input, span, button {
  color: #442C2E;
}

</style>
<title>{{template "title" .}}</title>
</head>
<body>

 <!-- navbar-light bg-light"> -->
 <!-- class="navbar-brand" -->

<nav class="navbar navbar-expand-lg" style="background-color: #442C2E">
  <div class="container-fluid">
    <a  class="nav-link" style="color: white" href="/home">AD2CC Station Master</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" style="color: white" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white" href="/ktutor">Code</a>
        </li>

        {{if .StopCode}}
        <li class="nav-item">
          <a class="nav-link" style="color: white" href="/stopcode">Stop Code</a>
        </li>
       {{end}}

        <li class="nav-item">
          <a class="nav-link" style="color: white" href="/qsolog">Logger</a>
        </li>
        {{if .Logger }}
        <li class="nav-item">
          <a class="nav-link" style="color: white" data-bs-toggle="modal" data-bs-target="#addModal" href="#">Add</a>
        </li>


        {{end}}
        <li class="nav-item">
          <a class="nav-link" style="color: white" href="/analysis">Analysis</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: white" href="/defaults">Defaults</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: white" href="/adif">ADIF</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: white" href="/cabrillo">Cabrillo</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: white" href="/start-vfo">VFO</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" style="color: white" href="/quit">Quit</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<br>


<div class="row">
  <div class="col-sm-1"></div>



  <div class="col-sm-10">

    {{template "main" .}}


    </div>

    </div>
    <hr>
    <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
    {{template "footer" .}}
    </div>

    </div>

<br><br>
<!--
  <div id="ajaxrequest"></div>
</div>
-->



</body>

</html>

<script>


$(document).ready(function(){

  // let sModal = new bootstrap.Modal(document.getElementById("searchModal"), {});
  // sModal.show();
  

  var title = $("title").text()
  
  if (title == "VFO Control"){
    setInterval(function(){
       $.getJSON("/update-band")
    .then(function(data){
     
 $("#test").html(data["Band"]);
    });
  
    var band = $("#band").html()
    var testBand = $("#test").html()
    if (!(band.includes(testBand))) {
      
      window.location = "http://localhost:4000/start-vfo";
    };
}, 1000)
  }
  
  if (title == "VFO Control") {
    setInterval(function(){
      $.getJSON("/update-dx").then(function(data){
        //alert(data.DXTable[0].DE)
        //{{with .VFO }}
        //{{range $i, $val := .DX}}
        for (i = 0; i < data.DXTable.length; i++) {
          $("#de"+i).html(data.DXTable[i].DE);
          $("#dx"+i).html(data["DXTable"][i].DX);
          $("#country"+i).html(data["DXTable"][i].Country);

          //var s = data["DXTable"][i].Frequency;
          //var f = dxFreq(s)
          //f = normalize(f)
          $("#frequency"+i).html(data["DXTable"][i].Frequency);
          $("#need"+i).html(data["DXTable"][i].Need);
        }
        //{{end}}
        //{{end}}
      })
      }, 30000)
    }  
  
  $("#search-button").click(function() {
    $.getJSON("/callsearch?call="+$("#search-call").val())
    .then(function(data){
    $("#want-update").html(data["QRZMsg"])
    $("#call").text(data["Call"])
    $("#qrzname").text(data["Name"])
    $("#born").text(data["Born"])
    $("#addr1").text(data["Addr1"])
    // $("#addr2").text(data["Addr2"])
    // $("#qrzcountry").text(data["QRZCountry"])
    $("#geolocation").text(data["GeoLoc"])
    $("#class").text(data["Class"])
    $("#timezone").text(data["TimeZone"])
    $("#qsocount").text(data["QSOCount"])
    });
  });


$("#call-sign").blur(function(){
  $.getJSON("/getconn?call="+$("#call-sign").val())
  .then(function(data){
    $("#name").val(data["Name"])
    $("#country").val(data["Country"])
    // $("#band-select").val(data["Band"])
    // $("#mode-select").val(data["Mode"])
    // alert($("#master-mode").val());
  });
});

$("#rcv-enter").click(function(){
  if (isNaN($("#rcv-frequency").val())) {
    alert("entry is not a number")
    return
  }
  var x = checkLimit($("#rcv-frequency").val())
  x = normalize(x)
  $("#rcv").text("Receive: " + x)
  if ($("#split").html() == "Split: Off"){
    $("#xmt").text("Transmit: " + x)
  }
  updateVFO()
})

$("#xmt-enter").click(function(){
  if ($("#split").html() == "Split: Off"){
    return
  }
  if (isNaN($("#xmt-frequency").val())) {
    alert("entry is not a number")
    return
  }
  var x = checkLimit($("#xmt-frequency").val())
  x = normalize(x)
  $("#xmt").text("Transmit: " + x)
  updateVFO()
})


$("#rcv-1khz-up").click(function(){
  var s = $("#rcv").html();
  handleRcv(s, 1000, "up")
});

$("#rcv-1khz-down").click(function(){
  var s = $("#rcv").html();
    handleRcv(s, 1000, "down")
});

$("#rcv-100hz-up").click(function(){
  var s = $("#rcv").html();
    handleRcv(s, 100, "up")
});

$("#rcv-100hz-down").click(function(){
  var s = $("#rcv").html();
handleRcv(s, 100, "down")
});

$("#rcv-10hz-up").click(function(){
  var s = $("#rcv").html();
  handleRcv(s, 10, "up")
});

$("#rcv-10hz-down").click(function(){
  var s = $("#rcv").html();
  handleRcv(s, 10, "down")
});

$("#rcv-1hz-up").click(function(){
  var s = $("#rcv").html();
  handleRcv(s, 1, "up")
});

$("#rcv-1hz-down").click(function(){
  var s = $("#rcv").html();
  handleRcv(s, 1, "down")
});

$("#xmt-1khz-up").click(function(){
  var s = $("#xmt").html();
  handleXmt(s, 1000, "up")
});

$("#xmt-1khz-down").click(function(){
  var s = $("#xmt").html();
    handleXmt(s, 1000, "down")
});

$("#xmt-100hz-up").click(function(){
  var s = $("#xmt").html();
    handleXmt(s, 100, "up")
});

$("#xmt-100hz-down").click(function(){
  var s = $("#xmt").html();
handleXmt(s, 100, "down")
});

$("#xmt-10hz-up").click(function(){
  var s = $("#xmt").html();
  handleXmt(s, 10, "up")
});

$("#xmt-10hz-down").click(function(){
  var s = $("#xmt").html();
  handleXmt(s, 10, "down")
});

$("#xmt-1hz-up").click(function(){
  var s = $("#xmt").html();
  handleXmt(s, 1, "up")
});

$("#xmt-1hz-down").click(function(){
  var s = $("#xmt").html();
  handleXmt(s, 1, "down")
});

$("#toggle-split").click(function(){
  if ($("#split").html() == "Split: Off"){
    $("#split").html("Split: On");
    // split = "On"
  }
  else {
    var s = $("#xmt").html();
    var x = s.split(": ")
    $("#rcv").html("Receive: "+x[1]);
    $("#split").html("Split: Off");
    // split = "off"
  }
});

function handleRcv(s, u, d){ //s strring, u increment d direction
  var split = $("#split").html();
  var x = s.split(": ");
  if (d == "up") {
    x[1] = (1000000*Number(x[1]) + u)/1000000;
  }
  else {
    x[1] = (1000000*Number(x[1]) - u)/1000000;
 }
 x[1] = checkLimit(x[1])
 x[1] = normalize(x[1])
  s =x[0] + ": " + String(x[1]);
  $("#rcv").html(s);
  if (split == "Split: Off") {
    x = s.split(": ");
    s = "Transmit: " + x[1];
    $("#xmt").html(s);
  }
  updateVFO()
}

function handleXmt(s, u, d){
  var split = $("#split").html();
  if (split == "Split: Off") {
    return
  } //s strring, u increment d direction
  var x = s.split(": ");
  if (d == "up") {
  x[1] = (1000000*Number(x[1]) + u)/1000000;
}
else {
  x[1] = (1000000*Number(x[1]) - u)/1000000;
}
x[1] = checkLimit(x[1])
x[1] = normalize(x[1])
  s =x[0] + ": " + String(x[1]);
  $("#xmt").html(s);
  updateVFO()
}

function checkLimit(x){ //accepts integer rreturrns integer
  var upper = Number($("#upper-limit").html())
  var lower = Number($("#lower-limit").html())
  var cwbnd = Number($("#cw-boundary").html())
  if (x > upper){
    return upper
  }
  if (x < lower) {
    return lower
  }
  if (x <= cwbnd) {
    $("#mode").html("Mode: CW")
    return x
  }
  if (x > cwbnd) {
    var band = $("#band").html()
    if ((band == "Band: 10m") || (band == "Band: 15m") || (band == "Band: 20m")){
      $("#mode").html("Mode: USB")
    }
    else {
      $("#mode").html("Mode: LSB")
    }
    return x
  }
  return x
}

function normalize(x) {
  var y = String(x);
  var z = y.split(".");
  if (z.length == 0){
    alert("bad input");
    return "bad input";
  }
  if (z.length == 1) {
    return y + ".000000";
  }
  var l = z[1].length
  for (n=0; n < 6-l; n++){
    z[1] = z[1] + "0";
  }
  return z[0] + "." + z[1]
}

function updateVFO(){
  var m = $("#mode").html()
  var mm = m.split(": ")
  mode = mm[1]
  var rf = $("#rcv").html()
  var rff = rf.split(": ")
  rcvFreq = rff[1]
  var xf = $("#xmt").html()
  var xff = xf.split(": ")
  xmtFreq = xff[1]
  var s = $("#split").html()
  var ss = s.split(": ")
  split = ss[1]
  var vfodata = {
    Mode: mode,
    RFreq: rcvFreq,
    XFreq: xmtFreq,
    Split: split,
  }
  $.ajax({
            url: "update-vfo",
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            // success: function (data) {
            //     $('#target').html(data.msg);
            // },
            data: JSON.stringify(vfodata)
        });
}
{{with .VFO}}
{{range $nn, $val := .DX}}
$("#frequency{{$nn}}").click(function(){
  var s = $("#frequency{{$nn}}").html();
  var f = dxFreq(s)
  f = normalize(f)
  dxSend(f)
});
{{end}}
{{end}}


function dxFreq(f) {
  var y = f.split(".")
  y[0] = Number(y[0]/1000)
  return y[0]+y[1]
};

function dxSend(f) {
  $("#rcv").text("Receive: " + f)
  if ($("#split").html() == "Split: Off"){
    $("#xmt").text("Transmit: " + f)
  }
  updateVFO()
};

});


</script>

{{end}}
