{{template "base" .}}

{{define "title"}}Cabrillo{{end}}


{{define "main"}}

<div class="row">
  <h5>All dates and times are in UTC</h5>
  <div class="row">
      <form class="row g-3" method="POST" action="/gencabrillo">

      <div class="row">

        <div class="col-sm-6">
          {{with .FormData.Errors.Get "contestname"}}
              <label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
            {{end}}
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Contest Name</span>
            <input type="text" name="contestname" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="col-sm-6">
          {{with .FormData.Errors.Get "contestfile"}}
              <label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
            {{end}}
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Contest File Name</span>
            <input type="text" name="contestfile" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>


        </div>

        <div class="row">

          <div class="col-sm-6">
            {{with .FormData.Errors.Get "startdate"}}
            		<label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
            	{{end}}
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Start Date (yyyy-mm-dd)</span>
            <input type="text" name="startdate" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          </div>

          <div class="col-sm-6">
            {{with .FormData.Errors.Get "starttime"}}
            		<label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
            	{{end}}
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Start Time (hh:mm)</span>
            <input type="text" name="starttime" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-6">
            {{with .FormData.Errors.Get "enddate"}}
            		<label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
            	{{end}}
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">End Date (yyyy-mm-dd)   </span>
            <input type="text" name="enddate" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          </div>

          <div class="col-sm-6">
            {{with .FormData.Errors.Get "endtime"}}
            		<label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
            	{{end}}
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">End Time (hh:mm)</span>
            <input type="text" name="endtime" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          </div>

        </div>

        <div class="row">
          <button type="submit" class="btn mb-3" style="background-color: #9FE1EA">Generate Cabrillo File</button>
        </div>

  </form>
   <form class="row g-3" method="POST" action="/gencabrilloNew">
      <div class="row">
         <div class="col-sm-6">
            {{with .FormData.Errors.Get "contestname"}}
               <label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
            {{end}}
            <div class="input-group mb-3">
               <span class="input-group-text" id="inputGroup-sizing-default">Contest Name</span>
               <input type="text" name="contestname" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
         </div>
         <div class="col-sm-6">
            {{with .FormData.Errors.Get "contestfile"}}
               <label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
            {{end}}
            <div class="input-group mb-3">
               <span class="input-group-text" id="inputGroup-sizing-default">Contest File Name</span>
               <input type="text" name="contestfile" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
         </div>
       </div>
       <div class="row"> <h5> Output Field Widths </h5> </row>
       <div class="row">
	     	<div class="col-sm-2">
			{{with .FormData.Errors.Get "callWidth"}}
            		<label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
            		{{end}}

	       		<div class="input-group mb-3">
               			<span class="input-group-text" id="inputGroup-sizing-default">Call Sign</span>
               			<input type="text" name="callWidth" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
         		</div>
	 	</div>
		{{$fd := .FormData}}
	   	{{range $nn, $val := .FieldNames}}
	 	<div class="col-sm-2">
			{{$fieldWidth := printf "field%dWidth" $nn}}
			{{with $fd.Errors.Get $fieldWidth}}
            		<label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
            		{{end}}

			<div class="input-group mb-3">
				<span class="input-group-text" id="inputGroup-sizing-default">{{$val}} </span>
		 		<input type="text" name="field{{$nn}}Width" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
         		</div>
	 	</div>

		{{end}}
	</div>
	

       <div class="row">
          <button type="submit" class="btn mb-3" style="background-color: #9FE1EA">Generate New Cabrillo File</button>
       </div>
    </form>   


  </div>
</div>
<hr>
<table class="table table-borderless table-sm">
  <thead>
    <tr>
      {{$fc := .FieldCount}}
      {{with .Top}}
         <th scope="col">{{.Id}}</th>
         <th scope="col">{{.Time}}</th>
    	 <th scope="col">{{.Band}}</th>
    	 <th scope="col">{{.Mode}}</th>
    	 <th scope="col">{{.Name}}</th>
    	 <th scope="col">{{.Country}}</th>
	 {{if ge $fc 2}}
	    <th scope="col">{{.Field1Name}}</th>
	    <th scope="col">{{.Field2Name}}</th>
         {{end}}
	 {{if ge $fc 3 }}
	    <th scope="col">{{.Field3Name}}</th>
         {{end}}
	 {{if ge $fc 4 }}
	    <th scope="col">{{.Field4Name}}</th>
         {{end}}
	 {{if eq $fc 5 }}
	    <th scope="col">{{.Field5Name}}</th>
         {{end}}
	 <th scope="col">{{.Call}}</th>
         {{if ge $fc 2}}
	    <th scope="col">{{.Field1Name}}</th>
	    <th scope="col">{{.Field2Name}}</th>
         {{end}}
	 {{if ge $fc 3 }}
	    <th scope="col">{{.Field3Name}}</th>
         {{end}}
	 {{if ge $fc 4 }}
	    <th scope="col">{{.Field4Name}}</th>
         {{end}}
	 {{if eq $fc 5 }}
	    <th scope="col">{{.Field5Name}}</th>
         {{end}}

      {{end}}
    </tr>
  </thead>
  <tbody>
     {{range .Table}}
       <tr>
          <td scope="col">{{.Id}}</td>
    	  <td scope="col">{{.Time.Format "Jan 2 2006 15:04:05"}}</td>
          <td scope="col">{{.Band}}</td>
    	  <td scope="col">{{.Mode}}</td>
    	  <td scope="col">{{.Name}}</td>
    	  <td scope="col">{{.Country}}</td>
	   {{if ge $fc 2}}
	      <th scope="col">{{.Field1Sent}}</th>
	      <th scope="col">{{.Field2Sent}}</th>
           {{end}}
	   {{if ge $fc 3 }}
	      <th scope="col">{{.Field3Sent}}</th>
           {{end}}
	   {{if ge $fc 4 }}
	      <th scope="col">{{.Field4Sent}}</th>
           {{end}}
	   {{if eq $fc 5 }}
	      <th scope="col">{{.Field5Sent}}</th>
           {{end}}
	   <th scope="col">{{.Call}}</th>
           {{if ge $fc 2}}
	      <th scope="col">{{.Field1Rcvd}}</th>
	      <th scope="col">{{.Field2Rcvd}}</th>
           {{end}}
	   {{if ge $fc 3 }}
	      <th scope="col">{{.Field3Rcvd}}</th>
           {{end}}
	   {{if ge $fc 4 }}
	      <th scope="col">{{.Field4Rcvd}}</th>
           {{end}}
	   {{if eq $fc 5 }}
	      <th scope="col">{{.Field5Rcvd}}</th>
           {{end}}
       </tr>
     {{end}}
  </tbody>
</table>

{{end}}
