{{template "base" .}}

{{define "title"}}Contest{{end}}

{{define "main"}}

<div class="row">
  <div class="col-sm-2"></div>
  <h3>Contest</h3>
  <p id="message"></p>
  <br>
  <p id="contest-band">Band: {{.Band}}</p>
  <p id="contest-mode">Mode: {{.Mode}}</p>
  <div class="col-sm-2">
	<label for="call-sign" class="form-label">Call Sign</label>
	<div class="input-group mb-3">
	  <input type="text" class="form-control" id="call-sign"
	  name="call" aria-describedby="basic-addon3" autofocus>
	</div>
	<p id="dupe-call"><p>

  </div>
  <div class="col-sm-1">
	<label for="rst" class="form-label">RST</label>
	<div class="input-group mb-3">
	  <input type="text" class="form-control" id="RST"
	  name="rst" aria-describedby="basic-addon3">
	</div>
  </div>

  <div class="col-sm-2">
	<label for="exchange" class="form-label">Exchange Recieved</label>
	<div class="input-group mb-3">
	  <input type="text" class="form-control" id="exChange"
	  name="exchange" aria-describedby="basic-addon3">
	</div>

  </div>

</div>

{{end}}
