{{template "base" .}}

{{define "title"}}Defaults{{end}}

{{define "main"}}

<form action="/store-defaults" method="post">
<div class="container">
<div class="row">
   <div class="col-sm-6">
      <div class="row">

	 <h3>Current Defaults Are:</h3>
	 {{with .LogEdit}}
       	    <p>Current default mode is: {{.Mode}}</p>
	    <p>Current default band is: {{.Band}}</p>
            <p>Contest mode is set to: {{.Contest}}</p>
	    <p>Contest name is set to: {{.ContestName}}</p>
	    <p>Contest start date is set to: {{.ContestDate}}</p>
	    <p>Contest start time is set to: {{.ContestTime}}</p>
	    <p>Sent RST is set to: {{.Sent}}</p>
	    <p>Sent exchange is set to: {{.ExchSent}}</p>
	 {{end}}
	 <p>Change the defaults below</p>
      </div>
   

      <div class="col-sm-4">
	 <div class="row">
	    <select class="form-select" aria-label="Modes" name="mode">
  	       <option selected>Select operating mode</option>
  	       <option value="1">USB</option>
  	       <option value="2">LSB</option>
  	       <option value="3">CW</option>
  	       <option value="4">FT8</option>
  	       <option value="5">FT4</option>
	    </select>
	 </div>
	 <br>
	 <div class="row">
	    <select class="form-select" aria-label="Bands" name="band">
  	       <option selected>Select operating band</option>
  	       <option value="1">10m</option>
  	       <option value="2">15m</option>
  	       <option value="3">20m</option>
  	       <option value="4">40m</option>
  	       <option value="5">80m</option>
	       <option value="6">160m</option>
	    </select>
	 </div>
	 <br>
	 <div class="row">
	    <select class="form-select" aria-label="Contest" name="contest">
  	       <option selected>Select contest mode</option>
  	       <option value="1">Yes</option>
  	       <option value="2">No</option>
	    </select>
	 </div>
      </div>
   </div>


   <div class="col-sm-6">
      <div class="row">
         <p>All dates and times in UTC.</p>
	 
	 <div class="row">
  	    {{with .FormData.Errors.Get "contestname"}}
	       <label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
 	    {{end}}
  	    <div class="col-sm-6">
  	       <p>Contest name</p>
  	    </div>
  	    <div class="col-sm-6">
 	       <input type="text" id="contestName" name="contestname">
 	    </div>
	 </div>

	 <div class="row">
  	    {{with .FormData.Errors.Get "contestdate"}}
	       <label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
 	    {{end}}
  	 <div class="col-sm-6">
  	    <p>Contest start date (yyyy-mm-dd)</p>
  	 </div>
  	 <div class="col-sm-6">
 	    <input type="text" id="contestDate" name="contestdate">
 	 </div>
      </div>

      <div class="row">
  	 {{with .FormData.Errors.Get "contesttime"}}
	    <label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
 	 {{end}}
  	 <div class="col-sm-6">
            <p>Contest start time (hh:mm)</p>
  	 </div>
  	 <div class="col-sm-6">
 	    <input type="text" id="contestTime" name="contesttime">
 	 </div>
      </div>
      <div class="row">
	 <div class="col-sm-6">
            <p>Contest fields</p>
	 </div>
	 <div class="col-sm-6">
            <select class="form-select" aria-label="FieldCount" name="fieldCount" id="field-count">
  	       <option selected>Number of fields</option>
  	       <option value="0">2 Fields</option>
  	       <option value="1">3 Fields</option>
  	       <option value="2">4 Fields</option>
  	       <option value="3">5 Fields</option>
	    </select>
	 </div>
      </div>
      <br> 
      <div class="row">
  	 {{with .FormData.Errors.Get "fieldNames"}}
	    <label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
 	 {{end}}
  	 <div class="col-sm-6">
  	    <p id="field-names-title" >Enter comma seperated field names followed by "enter"</p>
  	 </div>
  	 <div class="col-sm-6">
            <textarea id="field-names" rows="2" name="fieldNames">
            </textarea>
 	 </div>
      </div>
      <p id="match-length"></p>

      <div class="row">
  	 {{with .FormData.Errors.Get "fieldOne"}}
	    <label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
 	 {{end}}
  	 <div class="col-sm-6">
  	    <p id="field1" >Contest Field 1</p>
  	 </div>
  	 <div class="col-sm-6">
 	    <input type="text" name="fieldOne" id="contestField1" >
 	 </div>
      </div>
      <div class="row">
         {{with .FormData.Errors.Get "fieldTwo"}}
            <label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
         {{end}}
	 <div class="col-sm-6">
  	    <p id="field2" >Contest Field 2</p>
  	 </div>
  	 <div class="col-sm-6">
 	    <input type="text" name="fieldTwo" id="contestField2" >
 	 </div>
      </div>

      <div class="row">
  	 {{with .FormData.Errors.Get "fieldThree"}}
	    <label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
 	 {{end}}
  	 <div class="col-sm-6">
  	    <p id="field3" >Contest Field 3</p>
  	 </div>
  	 <div class="col-sm-6">
 	    <input type="text" name="fieldThree" id="contestField3" >
 	 </div>
      </div>

      <div class="row">
  	 {{with .FormData.Errors.Get "fieldFour"}}
	    <label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
 	 {{end}}
  	 <div class="col-sm-6">
  	    <p id="field4" >Contest Field 4</p>
  	 </div>
  	 <div class="col-sm-6">
 	    <input type="text" name="fieldFour" id="contestField4" >
 	 </div>
      </div>

      <div class="row">
  	 {{with .FormData.Errors.Get "fieldFive"}}
	    <label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
 	 {{end}}
  	 <div class="col-sm-6">
  	    <p id="field5" >Contest Field 5</p>
  	 </div>
  	 <div class="col-sm-6">
 	    <input type="text" name="fieldFive" id="contestField5" >
 	 </div>
      </div>

      <br>
      <div class="col-sm-5">
         <div class="row">
            <button type="submit" style="background-color: #9FE1EA; color: #442C2E" class="btn">Submit</button>
         </div>
      </div>
   </div>
</div>
</div>
</form>





{{end}}
