{{template "base" .}}

{{define "title"}}Defaults for  Logger{{end}}

{{define "main"}}

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">

<h3>Current Defaults Are:</h3>
{{with .LogEdit}}
<p>Current default mode is: {{.Mode}}</p>
<p>Current default band is: {{.Band}}</p>
{{end}}
<p>Change the defaults below</p>

<form action="/store-defaults" method="post">

<select class="form-select" aria-label="Modes" name="mode">
  <option selected>Select operating mode</option>
  <option value="1">USB</option>
  <option value="2">LSB</option>
  <option value="3">CW</option>
</select>
<br>
<select class="form-select" aria-label="Bands" name="band">
  <option selected>Select operating band</option>
  <option value="1">10m</option>
  <option value="2">20m</option>
  <option value="3">40m</option>
  <option value="4">80m</option>
  <option value="5">160m</option>
</select>
<br>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>
</div>

{{end}}
