{{template "base" .}}

{{define "title"}}Morse Tutor - Keyer{{end}}

{{define "main"}}

<div class="row">
  <div class="col-sm-2">
  <h5><a href="/stopcode">Stop Code</a></h5>
  </div>
  <div class="col-sm-6">
   
<h3>Code Tutor and Keyer</h3>
<p>This is a combinatin of cw totor and a keyer.  
I hope it helps you with CW and make code enjoyable.
The keyer is for rigs that don't have a keyer built in but
do generate side tone</p>
<p>Dit, dah, and spacing times are calculated based on the data entered
in the speed and Farnsworth speed fields according to this paper:
http://www.arrl.org/files/file/Technology/x9004008.pdf.  Letter 
(3 dit lengths) and word (7 dit lengths) spacings as defined 
by the Farnsworth algorithm and are stretched by the factors you
specify. Experiment to see what is comfortable for you.</p>

<form action="/start" method="post">

<label for="basic-url" class="form-label">Sending speed in WPM</label>
{{with .FormData.Errors.Get "speed"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon3">Example: {{.Speed}}</span>
  <input type="text" class="form-control" id="basic-url" 
  name="speed" aria-describedby="basic-addon3" value='{{.FormData.Get "speed"}}'>
</div>

<label for="basic-url" class="form-label">Farnswoth speed in WPM</label>
{{with .FormData.Errors.Get "farnspeed"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon3">Example: {{.FarnSpeed}}</span>
  <input type="text" class="form-control" id="basic-url" name="farnspeed" 
  value='{{.FormData.Get "farnspeed"}}' aria-describedby="basic-addon3">
</div>

<label for="basic-url" class="form-label">Letter spacing stretch</label>
{{with .FormData.Errors.Get "lsm"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon3">Example: {{.Lsm}}</span>
  <input type="text" class="form-control" id="basic-url" name="lsm" 
  value='{{.FormData.Get "lsm"}}' aria-describedby="basic-addon3">
</div>

<label for="basic-url" class="form-label">Word spacing stretch</label>
{{with .FormData.Errors.Get "wsm"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon3" >Example: {{.Wsm}}</span>
  <input type="text" class="form-control" id="basic-url" name="wsm" 
  value='{{.FormData.Get "wsm"}}' aria-describedby="basic-addon3">
</div>

{{with .FormData.Errors.Get "mode"}}
		<label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label><br>
{{end}}	

<select class="form-select" aria-label="Choices" name="mode">
  <option selected>Select operating mode</option>
  <option value="1">Tutor</option>
  <option value="2">Keyer</option>
</select>
<br><br>

  <button type="submit" class="btn btn-primary">Start</button>
  {{with .FormData.Errors.Get "ktrunning"}}
		<label class="error"><p style="color:rgb(255, 0, 0)">{{.}}</p></label><br>
	{{end}}
	
	{{end}}
	
</form>
</div>
</div>
<br><br>

