{{template "base" .}}

{{define "title"}}Log{{end}}


{{define "main"}}

<div class="row">
      <div class="row">
  <div class="col-sm-4">
    <form class="row g-3">
  <div class="col-auto">
    <input type="text" class="form-control" id="search-call" placeholder="Call Sign">
  </div>
  <div class="col-auto">
<button class="btn mb-3" style="background-color: #9FE1EA">
  <a data-bs-toggle="modal" data-bs-target="#searchModal" style="color: #442C2E"id="search-button">Search</a></button>
  </div>

</form>
  </div>
  </div>
</div>
<hr>
<table class="table table-borderless table-sm">
  <thead>
    <tr>
      {{$x := .Contest}}
      {{with .Top}}
      <th scope="col">{{.Id}}</th>
      <th scope="col">{{.Time}}</th>
    	<th scope="col">{{.Call}}</th>
      <th scope="col">{{.Band}}</th>
    	<th scope="col">{{.Mode}}</th>
    	<th scope="col">{{.Sent}}</th>
    	<th scope="col">{{.Rcvd}}</th>
    	<th scope="col">{{.Name}}</th>
    	<th scope="col">{{if .Cnty}}{{.County}}{{else}}{{.Country}}{{end}}</th>
      <th scope="col">{{.Comment}}</th>
      <th scope="col">{{if eq $x "Yes"}}{{.ExchSent}}{{end}}</th>
      <th scope="col">{{if eq $x "Yes"}}{{.ExchRcvd}}{{end}}</th>
      <th scope="col">{{.Lotwsent}}</th>
      <th scope="col">{{.Lotwrcvd}}</th>
    </tr>
    {{end}}
  </thead>
  <tbody>
    {{range .Table}}
    <tr>
      <td scope="col"><a style="color: #442C2E" href="/editlog?id={{.Id}}">{{.Id}}</a></td>
    	<td scope="col">{{.Time.Format "Jan 2 2006 15:04:05"}}</td>
    	<td scope="col"><a style="color: #442C2E" href="/contacts?contact-call={{.Call}}">{{.Call}}</a></td>
      <td scope="col">{{.Band}}</td>
    	<td scope="col">{{.Mode}}</td>
    	<td scope="col">{{.Sent}}</td>
    	<td scope="col">{{.Rcvd}}</td>
    	<td scope="col">{{.Name}}</td>
    	<td scope="col">{{if .Cnty}}{{.County}}{{else}}{{.Country}}{{end}}</td>
      <td scope="col">{{.Comment}}</td>
      <td scope="col">{{if eq $x "Yes"}}{{.ExchSent}}{{end}}</td>
      <td scope="col">{{if eq $x "Yes"}}{{.ExchRcvd}}{{end}}</td>
      <td scope="col">{{.Lotwsent}}</td>
      <td scope="col">{{.Lotwrcvd}}</td>
    </tr>
      {{end}}
  </tbody>
</table>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #FEEAE6" >
      <div class="modal-header">
        <h5 class="modal-title" style="background-color: #FEEAE6" id="exampleModalLabel">{{if .Edit}}Edit Content{{else}}Add Contact{{end}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color: #FEEAE6">

<form action="{{if .Edit}}/updatedb{{else}}/addlog{{end}}" method="post">
  <div class="row"><button style="background-color: #9FE1EA; color: #442C2E" type="submit" class="btn" >Update</button></div>

<label for="call-sign" class="form-label">Call</label>
{{with .FormData.Errors.Get "call"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
<div class="input-group mb-3">
  <!-- <span class="input-group-text" id="basic-addon3">Example: AD2CC</span> -->
  <input type="text" class="form-control" id="call-sign"
  name="call" value='{{if .Edit }}{{.LogEdit.Call}}{{else}}{{.FormData.Get "call"}}{{end}}'aria-describedby="basic-addon3">
</div>

  <label for="band-select" class="form-label">Band</label>
  {{with .FormData.Errors.Get "band"}}
  		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
  	{{end}}
  <div class="input-group mb-3">
    <!-- <span class="input-group-text" id="basic-addon3">Example: 40m</span> -->
    <input type="text" class="form-control" name="band" id="band-select"
    value='{{if .Edit }}{{.LogEdit.Band}}{{else}}{{.FormData.Get "band"}}{{end}}' aria-describedby="basic-addon3">
  </div>


  {{with .FormData.Errors.Get "mode"}}
  		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
  	{{end}}
<p class="form-label">Mode</p>
<select class="form-select" aria-label="Choices" name="mode" id="mode-select">

  <option selected>Select operating mode</option>
  <option {{if .Edit}}{{if eq .LogEdit.Mode "USB"}}selected value="USB" {{end}}{{else}}{{if eq .Mode "USB"}}selected value="USB" {{end}}{{end}}>USB</option>
  <option {{if .Edit}}{{if eq .LogEdit.Mode "LSB"}}selected value="LSB" {{end}}{{else}}{{if eq .Mode "LSB"}}selected value="LSB" {{end}}{{end}}}>LSB</option>
  <option {{if .Edit}}{{if eq .LogEdit.Mode "CW" }}selected value="CW"  {{end}}{{else}}{{if eq .Mode "CW" }}selected value="CW"  {{end}}{{end}}}>CW</option>
</select>

<label for="sent-signal" class="form-label">Sent</label>
{{with .FormData.Errors.Get "sent"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
<div class="input-group mb-3">
  <!-- <span class="input-group-text" id="basic-addon3">Example: 599</span> -->
  <input type="text" class="form-control" id="sent-signal" name="sent"
  value='{{if .Edit }}{{.LogEdit.Sent}}{{else}}{{.FormData.Get "sent"}}{{end}}' aria-describedby="basic-addon3">
</div>

<label for="rcvd-signal" class="form-label">Rcvd</label>
{{with .FormData.Errors.Get "rcvd"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
<div class="input-group mb-3">
  <!-- <span class="input-group-text" id="basic-addon3" >Example: 599</span> -->
  <input type="text" class="form-control" id="rcvd-signal" name="rcvd"
  value='{{if .Edit }}{{.LogEdit.Rcvd}}{{else}}{{.FormData.Get "rcvd"}}{{end}}' aria-describedby="basic-addon3">
</div>

<label for="exchsent" class="form-label">Exch sent</label>
{{with .FormData.Errors.Get "eschsent"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
<div class="input-group mb-3">
  <!-- <span class="input-group-text" id="basic-addon3">Example: Saied</span> -->
  <input type="text" class="form-control" id="exchsent" name="exchsent"
  value='{{if .Edit }}{{.LogEdit.ExchSent}}{{else}}{{.FormData.Get "exchsent"}}{{end}}' aria-describedby="basic-addon3">
</div>

<label for="exchrcvd" class="form-label">Exch Rcvd</label>
{{with .FormData.Errors.Get "exchrcvd"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
<div class="input-group mb-3">
  <!-- <span class="input-group-text" id="basic-addon3">Example: Saied</span> -->
  <input type="text" class="form-control" id="exchrcvd" name="exchrcvd"
  value='{{if .Edit }}{{.LogEdit.ExchRcvd}}{{else}}{{.FormData.Get "exchrcvd"}}{{end}}' aria-describedby="basic-addon3">
</div>

<label for="name" class="form-label">Name</label>
{{with .FormData.Errors.Get "name"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
<div class="input-group mb-3">
  <!-- <span class="input-group-text" id="basic-addon3">Example: Saied</span> -->
  <input type="text" class="form-control" id="name" name="name"
  value='{{if .Edit }}{{.LogEdit.Name}}{{else}}{{.FormData.Get "name"}}{{end}}' aria-describedby="basic-addon3">
</div>

<label for="country" class="form-label">Country</label>
{{with .FormData.Errors.Get "country"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
<div class="input-group mb-3">
  <!-- <span class="input-group-text" id="basic-addon3">Example: France</span> -->
  <input type="text" class="form-control" id="country" name="country"
  value='{{if .Edit }}{{.LogEdit.Country}}{{else}}{{.FormData.Get "country"}}{{end}}' aria-describedby="basic-addon3">
</div>

<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
  {{with .FormData.Errors.Get "comment"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment">
{{if .Edit }}{{.LogEdit.Comment}}{{else}}{{.FormData.Get "comment"}}{{end}}</textarea>
</div>


<label for="lotw-s" class="form-label">LOTW Sent</label>
{{with .FormData.Errors.Get "lotwsent"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
<div class="input-group mb-3">
  <!-- <span class="input-group-text" id="basic-addon3">Example: Yes or No</span> -->
  <input type="text" class="form-control" id="lotw-s" name="lotwsent"
  value='{{if .Edit }}{{.LogEdit.Lotwsent}}{{else}}{{.FormData.Get "lotwsent"}}{{end}}' aria-describedby="basic-addon3">
</div>

<label for="lotw-r" class="form-label">LOTW Rcvd</label>
{{with .FormData.Errors.Get "lotwrcvd"}}
		<label class="error"><br><p style="color:rgb(255, 0, 0)">{{.}}</p></label>
	{{end}}
<div class="input-group mb-3">
  <!-- <span class="input-group-text" id="basic-addon3">Example: Yes or No</span> -->
  <input type="text" class="form-control" id="lotw-r" name="lotwrcvd"
  value='{{if .Edit }}{{.LogEdit.Lotwrcvd}}{{else}}{{.FormData.Get "lotwrcvd"}}{{end}}' aria-describedby="basic-addon3">
</div>

</form>
      </div>
    </div>
  </div>
</div>

<div class="modal hide fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Call Sign Search</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="want-update"></div>
        <div class="row">
        <p id="call">call</p>
        <p id="qrzname">name</p>
        <p id="born">born</p>
        <p id="addr1">addr1</p>
        <!-- <p id="addr2">addr2</p> -->
        <!-- <p id="qrzcountry">country</p> -->
        <p id="geolocation">geo</p>
        <p id="class">class</p>
        <p id="timezone">timezone</p>
        <p id="qsocount">qsocount</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{end}}

<script>
{{if .Show}}
let addModal = new bootstrap.Modal(document.getElementById("addModal"), {});
addModal.show();
{{end}}


</script>
