{{template "base" .}}

{{define "title"}}Morse Tutor - Keyer{{end}}

{{define "main"}}

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">

<p>You are running at:</p>
<p>Sending speed of {{.Speed}} WPM</p>
<p>With Farnsworth charachter speed of {{.FarnSpeed}} WPM</p>
<p>Letter spacing is {{.Lsm}} times 3 dots</p>
<p>Word spacing is {{.Wsm}} times 7 dots</p>
<p>And your operating mode is {{.Mode}}</p>
<br><br>
<a style="background-color: #9FE1EA; color: #442C2E" class="btn" href="/stop" role="button">Stop</a>

</div>
</div>

{{end}}
