{{template "base" .}}

{{define "title"}}VFO Control{{end}}

{{define "main"}}


{{with .VFO}}
<div class="row">
  <p class="visually-hidden", id="upper-limit">{{.UpperLimit}}</p>
  <p class="visually-hidden", id="lower-limit">{{.LowerLimit}}</p>
  <p class="visually-hidden", id="cw-boundary">{{.CWBoundary}}</p>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <h2 id="band">Band: {{.Band}}</h2>
    <p class="visually-hidden", id="test"></p>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <h2 id='mode'>Mode: {{.Mode}}</h2>
  </div>
  <div class="col-sm-3"></div>
</div>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <h2 id="rcv">Rceive: {{.RFreq}}</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="d-grid">
          <input type="text" class="form-control" id="rcv-frequency">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="rcv-enter">Enter</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="rcv-1khz-up">Up</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="rcv-1khz-down">Down</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="rcv-100hz-up">Up</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="rcv-100hz-down">Down</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="rcv-10hz-up">Up</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="rcv-10hz-down">Down</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="rcv-1hz-up">Up</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="rcv-1hz-down">Down</button>
        </div>
      </div>
    </div>
    <br>

    <!-- <div class="row">
      <div class="col-sm-6">
        <div class="d-grid">
          <h4>Offset Tuning: Off</h4>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA"><span style="color: #442C2E">Toggle OT</span></button>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-sm-6">
        <div class="d-grid">
          <h4 id="split">Split: {{.Split}}</h4>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="toggle-split">Toggle Split</button>
        </div>
      </div>
    </div>
  </div>
<div class="col-sm-1">
<br><br><br><br>
<div class="row"><button type="button" class="btn mb-3" style="background-color: #FEDBD0">1 KHz</button></div>
<div class="row"><button type="button" class="btn mb-3" style="background-color: #FEDBD0">100 Hz</button></div>
<div class="row"><button type="button" class="btn mb-3" style="background-color: #FEDBD0">10 Hz</button></div>
<div class="row"><button type="button" class="btn mb-3" style="background-color: #FEDBD0">1 Hz</button></div>
  </div>
  <div class="col-sm-4">
    <h2 id="xmt">Transmit: {{.XFreq}}</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="d-grid">
          <input type="email" class="form-control" id="xmt-frequency">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="xmt-enter">Enter</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="xmt-1khz-up">Up</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="xmt-1khz-down">Down</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="xmt-100hz-up">Up</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="xmt-100hz-down">Down</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="xmt-10hz-up">Up</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="xmt-10hz-down">Down</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="xmt-1hz-up">Up</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA" id="xmt-1hz-down">Down</button>
        </div>
      </div>
    </div>
    <br>
    <!-- <div class="row">
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA"><span style="color: #442C2E">RIT Up</span></button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-grid">
          <button type="button" class="btn mb-3" style="background-color: #9FE1EA"><span style="color: #442C2E">RIT Down</span></button>
        </div>
      </div>
    </div> -->
  </div>
  <div class="col-sm-3"></div>
</div>
{{end}}

{{end}}
